.detail-section {
    font-size: 24px;
    margin-bottom: 25px;
}

.banner-detail-header {
    background-color: #DBDBDB;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 75px;
    position: relative;
    padding-bottom: 10px;
}