label {
    font-size: 36px;
    line-height: 65px;
}

.history-select {
    display: inline;
    font-size: 26px;
    padding: 15px !important;
    border: 3px solid #B6B3AF;
    border-radius: 5px;
    background-color: #DBD7D3;
}

.history-select:focus {
    outline: none;
}