#info {
    width: 225px;
}

#info > a, #info > svg {
    font-size: 24px;
}

.banner-select {
    color: #000000;
    min-width: 45%;
    max-width: 100%;
    text-align: center;
}

.banner-tab {
    border-radius: 4px;
    padding: 5px 25px;
    max-height: 50px;
    min-width: 150px;
}

.tab-active {
    background-color: #F7F3D8;
    color: black;
}

.tab-inactive {
    background-color: #4D6D96;
}

.header-container {
    padding: 25px 70px 0 70px;
    min-height: 100px;
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .header-container > * {
        margin-top: 20px;
    }
}

.banner-header-primogems {
    min-width: 75px;
    text-align: right;
    background-color: rgba(15, 15, 15, 0.35);
    padding: 0 20px 0 5px;
    height: 31px;
    border-radius: 50px;
    max-width: 150px;
}