.footer-button {
    border-radius: 50px;
    height: 40px;
    width: 135px;
    font-size: 20px;
    margin: 0 5px;
    font-weight: 700;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.25);
    transition: border 0.15s linear;
}

.footer-button:hover, 
.footer-button:active {
    background-color: '#E2DED4';
}

.footer-button:hover {
    border: 3px solid white;
    box-shadow: 0 0 0px 2px rgba(175, 175, 175, 0.15) inset;
}

.footer-container {
    justify-content: space-between;
    padding: 70px;
}

.wish-button {
    width: 355px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 88px;
}

.wish-text {
    font-weight: bold;
    line-height: 35px;
    margin-left: 40px;
    text-shadow: #121212 0 0 4px;
}

@media only screen and (max-width: 1000px) {
    .footer-button {
        margin: 5px 0;
    }

    .footer-container {
        justify-content: start;
        padding: 5px;
    }
}

@media only screen and (max-width: 515px) {
    .wish-button {
        width: 340px;
    }
}