.top-up-description {
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.top-up-description-cost {
    color: #ff5c00;
    letter-spacing: 0.05em;
    font-size: 24px;
}

.top-up-description-primogems {
    padding-top: 8px;
}