html, 
body {
    margin: 0;
    color: white;
}

h1 {
    font-size: 28px !important;
    font-weight: 700 !important;
}

h2 {
    font-size: 24px !important;
    font-weight: 600 !important;
}

h3 {
    font-size: 20px !important;
    font-weight: 500 !important;
}

h4 {
    font-size: 16px !important;
    font-weight: 400 !important;
}

h5 {
    font-size: 12px !important;
    font-weight: 400 !important;
}

h6 {
    font-size: 8px !important;
    font-weight: 400 !important;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.back-button:active {
    color: white;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-row-responsive {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1000px) {
    .flex-row-responsive {
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.overflow-hidden {
    overflow: hidden;
}