.item-image {
    height: 80px;
    width: 80px;
}

.counter {
    background-color: #6ddaf5;
    min-height: 40px;
    min-width: 40px;
    display: grid;
    align-items: center;
    text-align: center;
    margin: 0 10px;
    border-radius: 4px;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
}

.inventory-container {
    font-size: 24px;
    justify-content: center;
}

.inventory-currency {
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 5px;
    justify-content: space-around;
}

.inventory-currency img {
    width: 32px;
    height: 32px;
}

.inventory-item {
    --gap: 12px;
    margin: 0 var(--gap) var(--gap) 0;
    background-color: rgba(125, 125, 125, 0.25);
    width: calc(33% - var(--gap));
    min-height: 100px;
    align-items: center;
}


@media only screen and (max-width: 1240px) {
    .inventory-item {
        width: 55%;
    }
    .inventory-item-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 800px) {
    .inventory-item {
        width: 100%;
    }
}

.item-name {
    width: 65%;
    text-align: center;
}