.banner-image {
    -webkit-animation: fadeInSlideLeft 0.3s ease-out both;
    animation: fadeInSlideLeft 0.3s ease-out both;
    -webkit-animation: fadeInSlideLeft ease-out both 0.3s;
    -moz-animation: fadeInSlideLeft ease-out both 0.3s;
    -o-animation: fadeInSlideLeft ease-out both 0.3s;
    -ms-animation: fadeInSlideLeft ease-out both 0.3s;
    width: 1080px;
    height: 533px;
    margin-top: 2%;
}

.banner-select-center {
    justify-content: center;
}

@keyframes fadeInSlideLeft {
    0% {
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity: 1;
    }
}

@-moz-keyframes fadeInSlideLeft {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInSlideLeft {
    0% {
        -webkit-transform: translateX(50px);
                transform: translateX(50px);
        opacity:0;
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
        opacity:1;
    }
}

@-o-keyframes fadeInSlideLeft {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
  
@-ms-keyframes fadeInSlideLeft {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
