.scroll-button {
    position: absolute;
    font-size: 32px;
    color: rgba(235, 235, 235, 0.9);
    transition: color 0.2s linear;
}

.scroll-button:hover {
    color: #FFFFFF;
}

.scroll-button-left {
    top: 0;
    left: 0;
}

.scroll-button-right {
    top: 0;
    right: 0;
}

.scroll-container {
    position: relative;
    max-width: 60%;
    justify-content: center;
}

.scroll-items > * {
    margin: 0 5px;
}

.scroll-items {
    width: 75%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    justify-content: space-between;
}

.scroll-items::-webkit-scrollbar {
    width: 5px;
    height: 8px;
}

.scroll-items::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #676767; 
    border-radius: 10px;
  }

.scroll-items::-webkit-scrollbar-thumb {
    background: #6b5435; 
    border-radius: 10px;
}

.scroll-items::-webkit-scrollbar-thumb:hover {
    background: #6b5435; 
}

@media only screen and (max-width: 1000px) {
    .scroll-container {
        max-width: 100%;
    }
}